<ul class="alert alert-danger m-5" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<ul class="alert alert-danger m-5" *ngIf="messageError">
  {{ messageError }}
</ul>

<div class="card bg-dark text-white m-5">
  <div class="card-header">
    {{ title }}
  </div>

  <div class="card-body text-primary">
    <form [formGroup]="formAlquiler" (ngSubmit)="registrarAlquiler()">

      <div class="form-group row">
        <label for="fundador" class="col-form-label col-sm-2"
          >Fecha de retorno</label
        >
        <div class="col-sm-6">
          <input
            type="date"
            class="form-control"
            formControlName="fechaRetorno"
            name="fechaRetorno"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="pais" class="col-form-label col-sm-2">Usuario</label>
        <div class="col-sm-6">
          <select
            class="form-control"
            formControlName="usuario"
            name="usuario"
          >
            <option [ngValue]="undefined" selected>Seleccionar Usuario</option>
            <option *ngFor="let usuario of usuarios" [ngValue]="usuario">
              {{ usuario.nombre }} {{ usuario.apellido }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="pais" class="col-form-label col-sm-2">Libro</label>
        <div class="col-sm-6">
          <select
            class="form-control"
            formControlName="libro"
            name="libro"
          >
            <option [ngValue]="undefined" selected>Seleccionar Libro</option>
            <option *ngFor="let libro of libros" [ngValue]="libro">
              {{ libro.nombreLibro }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button
            class="btn btn-primary"
            role="button"
            [disabled]="!formAlquiler.valid"
          >
            Registrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
