<ul class="alert alert-danger m-5" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<ul class="alert alert-danger m-5" *ngIf="messageError">
      {{ messageError }}
</ul>

<div class="card bg-dark text-white m-5">
  <div class="card-header">
    {{ title }}
  </div>
  <div class="card-body">
    <form [formGroup]="formCategoria" (ngSubmit)="registrarCategoria()">
      <div class="form-group row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="nombreCategoria" class="col-form-label col-sm-2"
          >Nombre</mat-label>
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="nombreCategoria"
            placeholder="Nombre"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="ml-3 row">
        <div class="col w-100">
          <button mat-raised-button
            color="primary"
            role="button"
            *ngIf="!categoria.idCategoria; else elseBlock"
            [disabled]="formCategoria.invalid"
          >
            Registrar
          </button>
          <ng-template #elseBlock>
            <button mat-raised-button
              color="primary"
              (click)="actualizarCategoria()"
              role="button"
              [disabled]="formCategoria.invalid"
            >
              Actualizar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>

<hr />
<pre class="text-white">
  Estado del formulario: {{ formCategoria.valid }}
  <br>
  Status: {{ formCategoria.status }}
  <pre class="text-white">
    {{ formCategoria.value | json}}
  </pre>
</pre>