<ul class="alert alert-danger m-5" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<ul class="alert alert-danger m-5" *ngIf="messageError">
    {{ messageError }}
</ul>

<div class="card bg-dark text-white m-5">
  <div class="card-header">
    {{ title }}
  </div>

  <div class="card-body">
    <form [formGroup]="formLibro" (ngSubmit)="registrarLibro()">
      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="nombreLibro" class="col-form-label col-sm-2"
          >Nombre</mat-label
        >
        <div class="col w-100">
          <input matInput
            type="text"
            autofocus
            formControlName="nombreLibro"
            name="nombreLibro"
            placeholder="Nombre"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="isbn" class="col-form-label col-sm-2">ISBN</mat-label>
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="isbn"
            name="isbn"
            placeholder="ISBN"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="descripcion" class="col-form-label col-sm-2"
          >Descripcion</mat-label
        >
        <div class="col w-100">
          <textarea matInput 
            formControlName="descripcion"
            name="descripcion"
            placeholder="Descripción"
          ></textarea>
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="urlPortada" class="col-form-label col-sm-2"
          >Url Portada</mat-label
        >
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="urlPortada"
            name="urlPortada"
            placeholder="Url de la portada"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="precio" class="col-form-label col-sm-2"
          >Precio</mat-label>
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="precio"
            name="precio"
            placeholder="Precio"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50" appearance="fill">
        <mat-label for="fechaPublicacion" class="col-form-label col-sm-2"
          >Fecha de Publicación</mat-label>
        <div class="col w-100">
          <input matInput
            [matDatepicker]="picker"
            formControlName="fechaPublicacion"
            name="fechaPublicacion"
          />
        </div>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50" appearance="fill">
        <mat-label for="idioma" class="col-form-label col-sm-2">Idioma</mat-label>
        <div class="col w-100">
          <mat-select
            [compareWith]="compararIdioma"
            formControlName="idioma"
            name="idioma"
          >
            <mat-option [value]="undefined" selected>Seleccionar Idioma</mat-option>
            <mat-option *ngFor="let idioma of idiomas" [value]="idioma">
              {{ idioma.nombreIdioma }}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50" appearance="fill">
        <mat-label for="categoria" class="col-form-label col-sm-2">Categoria</mat-label>
        <div class="col w-100">
          <mat-select
            [compareWith]="compararCategoria"
            formControlName="categoria"
            name="categoria"
          >
            <mat-option [value]="undefined" selected>Seleccionar Categoria</mat-option>
            <mat-option *ngFor="let categoria of categorias" [value]="categoria">
              {{ categoria.nombreCategoria }}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50" appearance="fill">
        <mat-label for="editorial" class="col-form-label col-sm-2">Editorial</mat-label>
        <div class="col w-100">
          <mat-select
            [compareWith]="compareEditorial"
            formControlName="editorial"
            name="editorial"
          >
            <mat-option [value]="undefined" selected>Seleccionar Editorial</mat-option>
            <mat-option *ngFor="let editorial of editoriales" [value]="editorial">
              {{ editorial.nombreEditorial }}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50" appearance="fill">
        <mat-label for="autor" class="col-form-label col-sm-2">Autor</mat-label>
        <div class="col w-100">
          <mat-select
            [compareWith]="compareAutor"
            formControlName="autor"
            name="autor"
          >
            <mat-option [value]="undefined" selected>Seleccionar Autor</mat-option>
            <mat-option *ngFor="let autor of autores" [value]="autor">
              {{ autor.nombreAutor }} {{ autor.apellido }}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>
      </div>

      <div class="ml-3 row">
        <div class="col w-100">
          <button mat-raised-button
            color="primary"
            role="button"
            *ngIf="!libro.idLibro; else elseBlock"
            [disabled]="formLibro.invalid"
          >
            Registrar
          </button>
          <ng-template #elseBlock>
            <button mat-raised-button
              color="primary"
              (click)="actualizarLibro()"
              role="button"
              [disabled]="formLibro.invalid"
            >
              Actualizar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>

<pre class="text-white">
  Estado del formulario: {{ formLibro.valid }}
  <br>
  Status: {{ formLibro.status }}
  <pre class="text-white">
    {{ formLibro.value | json}}
  </pre>
</pre>