<div class="card-columns m-5 animated fadeIn lg-5">
    <div *ngFor="let item of items" class="card puntero">
      <img
        [src]="item.urlPortada"
        class="card-img-top"
        alt="{{ item.nombreLibro }}"
      />
      <div class="card-body">
        <h2 class="card-title text-center  text-white">
          {{ item.nombreLibro }}
        </h2>
        <p class="text-justify  text-white">
          {{ item.descripcion }}
        </p>
        <ul>
          <li class="text-white">{{ item.fechaPublicacion | date: "mediumDate":"":"es" }}</li>
          <ng-container *ngIf="item.estado == true; else elseTemplate">
            <li class="text-white">Disponible</li>
          </ng-container>
          <ng-template #elseTemplate>
            <li class="text-white">Reservado</li>
          </ng-template>
          <ng-container *ngIf="item.precio > 0; else elseTemplate2">
            <li class="text-white">Precio: {{ item.precio |currency:'PEN '}}</li>
          </ng-container>
          <ng-template #elseTemplate2>
            <li class="text-white">Precio: Gratuito</li>
          </ng-template>
        </ul>
        <div class="card-text">
          <h2>
            <span class="text-white">Autor:</span>
            <span class="badge badge-danger font-weight-normal"
              >{{ item.autor.nombreAutor }} {{ item.autor.apellido }}</span
            >
          </h2>
        </div>
        <div class="card-text">
          <h2>
            <span class="text-white">Editorial:</span>
            <span class="badge badge-primary font-weight-normal text-white">{{
              item.editorial.nombreEditorial
            }}</span>
          </h2>
        </div>
        <div class="card-text">
          <h2>
            <span class="text-white">Categoría:</span>
            <span class="badge badge-success font-weight-normal text-white">{{
              item.categoria.nombreCategoria
            }}</span>
          </h2>
        </div>
        <div class="card-text">
          <h2>
            <span class="text-white">Idioma:</span>
            <span class="badge badge-info font-weight-normal">{{
              item.idioma.nombreIdioma
            }}</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
