.responsive-all{
    min-width: 300px!important;
}

.card-container {
    column-gap: 20px;
}

.img-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1:hover{
    font-weight: bold;
    color: white;
}

picture>img{
    max-width: 100%;
    opacity: 0.7;
    
}

.img-bg{
    background: url(../../../assets/img/background.jpg);
    height: 100%;
    width: 100%;
}

.img{
    background-image: url(../../../assets/img/background.jpg)
}
