<ul class="alert alert-danger m-5" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<ul class="alert alert-danger m-5" *ngIf="messageError">
  {{ messageError }}
</ul>

<div class="card bg-dark text-white m-5">
  <div class="card-header">
    {{ title }}
  </div>
  <div class="card-body">
    <form [formGroup]="formAutor" (ngSubmit)="registrarAutor()">
      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="nombre" class="col-form-label col-sm-2">Nombre</mat-label>
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="nombreAutor"
            name="nombreAutor"
            placeholder="Nombre"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="nombre" class="col-form-label col-sm-2">Apellido</mat-label>
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="apellido"
            name="apellido"
            placeholder="Apellido"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="fechaFundacion" class="col-form-label col-sm-2"
          >Descripcion</mat-label
        >
        <div class="col w-100">
          <textarea matInput
            formControlName="biografia"
            name="biografia"
            placeholder="Bigrafía"
          ></textarea>
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="nombre" class="col-form-label col-sm-2">Foto</mat-label>
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="urlFoto"
            name="urlFoto"
            placeholder="Url de la foto"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50" appearance="fill">
        <mat-label for="nombre" class="col-form-label col-sm-2"
          >Fecha de nacimiento</mat-label
        >
        <div class="col w-100">
          <input matInput
            [matDatepicker]="picker"
            formControlName="fechaNacimiento"
            name="fechaNacimiento"
          />
        </div>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>

      <div class="ml-3 row">
        <div class="col w-100">
          <button mat-raised-button
            color="primary"
            role="button"
            *ngIf="!autor.idAutor; else elseBlock"
            [disabled]="formAutor.invalid"
          >
            Registrar
          </button>
          <ng-template #elseBlock>
            <button mat-raised-button
              color="primary"
              (click)="actualizarAutor()"
              role="button"
              [disabled]="formAutor.invalid"
            >
              Actualizar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
