<ul class="alert alert-danger m-5" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<ul class="alert alert-danger m-5" *ngIf="messageError">
  {{ messageError }}
</ul>

<div class="card bg-dark text-white m-5">
  <div class="card-header">
    {{ title }}
  </div>

  <div class="card-body text-primary">
    <form [formGroup]="formUsuario" (ngSubmit)="registrarUsuario()">
      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="nombreCategoria" class="col-form-label col-sm-2"
          >Nombre</mat-label>
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="nombre"
            name="nombre"
            placeholder="Nombre"
            [class.is-invalid]="nombreNoValido"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="apellido" class="col-form-label col-sm-2">Apellido</mat-label>
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="apellido"
            name="apellido"
            placeholder="Apellido"
            [class.is-invalid]="apellidoNoValido"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="username" class="col-form-label col-sm-2"
          >Nombre de usuario</mat-label
        >
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="username"
            placeholder="Nombre de usuario"
            [class.is-invalid]="usernameNoValido"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="correo" class="col-form-label col-sm-2"
          >Correo</mat-label
        >
        <div class="col w-100">
          <input matInput
            type="email"
            formControlName="correo"
            name="correo"
            placeholder="Correo"
            [class.is-invalid]="correoNoValido"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="contrasenha" class="col-form-label col-sm-2"
          >Contraseña</mat-label
        >
        <div class="col w-100">
          <input matInput
            type="password"
            formControlName="contrasenha"
            name="contrasenha"
            placeholder="Contraseña"
            [class.is-invalid]="pass1NoValido"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="asegurarContrasenha" class="col-form-label col-sm-2"
          >Vuelve a introducir tu contraseña</mat-label
        >
        <div class="col w-100">
          <input matInput
            type="password"
            formControlName="asegurarContrasenha"
            name="asegurarContrasenha"
            placeholder="Confirmar contraseña"
            [class.is-invalid]="pass2NoValido"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="sexo" class="col-form-label col-sm-2">Sexo</mat-label>
        <div class="col w-100">
          <mat-select
            formControlName="sexo"
            name="sexo"
          >
            <mat-option selected>Seleccionar Sexo</mat-option>
            <mat-option *ngFor="let sexo of sexos" [value]="sexo">
              {{ sexo }}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>
      </div>

      <div class="ml-3 row">
        <div class="col w-100">
          <button mat-raised-button
            color="primary"
            role="button"
            *ngIf="!usuario.idUsuario; else elseBlock"
            [disabled]="!formUsuario.valid"
          >
            Registrar
          </button>          
          <ng-template #elseBlock>
            <button mat-raised-button
              color="primary"
              (click)="actualizarUsuario()"
              role="button"
              [disabled]="!formUsuario.valid"
            >
              Actualizar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>

<pre class="text-white">
  Estado del formulario: {{ formUsuario.valid }}
  <br>
  Status: {{ formUsuario.status }}
  <pre class="text-white">
    {{ formUsuario.value | json}}
  </pre>
</pre>