<div class="card border-primary mb-3 m-5 animated fadeIn">
    <div class="card-header">Listado de Categorias</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Cantidad de categorias: {{ categorias?.length }} </h5>
            <div class="my-2 text-left">
                <button class="btn btn-rounded btn-primary" [routerLink] = "['/categorias/form']">Crear Categoria</button>
            </div>
            <div *ngIf="categorias?.length == 0">
                <p>No hay registros en la base de datos</p>
            </div>
            <table class="table table-bordered table-striped" *ngIf="categorias?.length > 0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of categorias">
                        <td>{{ categoria.idCategoria }}</td>
                        <td>{{ categoria.nombreCategoria }}</td>
                        <td>
                            <button type="button" name="button" [routerLink]="['/categorias/form', categoria.idCategoria]" class="btn btn-success">Editar</button>
                        </td>
                        <td>
                            <button type="button" name="Eliminar" (click)="eliminarCategoria(categoria)" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>