<app-loading *ngIf="cargandoEditorial" class="m-5"></app-loading>
<div
  class="card border-primary mb-3 m-5 animated fadeIn"
  *ngIf="!cargandoEditorial"
>
  <div class="card-header bg-form goldClass">Listado de editoriales</div>
  <div class="card-body bg-dark text-primary">
    <h5 class="card-title text-white">
      Cantidad de editoriales: {{ editoriales?.length }}
    </h5>
    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        [routerLink]="['/editoriales/form']"
      >
        Crear Editorial
      </button>
    </div>
    <div *ngIf="editoriales?.length == 0">
      <p>No hay registros en la base de datos</p>
    </div>
    <table
      class="table table-bordered table-striped table-responsive-md"
      *ngIf="editoriales?.length > 0"
    >
      <thead class="text-white">
        <tr>
          <th class="goldClass">Id</th>
          <th class="goldClass">Nombre</th>
          <th class="goldClass">Fundador</th>
          <th class="goldClass">Fecha de fundación</th>
          <th class="goldClass">Fecha de creación</th>
          <th class="goldClass">Estado</th>
          <th class="goldClass" *ngIf="authService.hasRole('ROLE_ADMIN')">
            Editar
          </th>
          <th class="goldClass" *ngIf="authService.hasRole('ROLE_ADMIN')">
            Eliminar
          </th>
        </tr>
      </thead>
      <tbody class="text-white">
        <tr *ngFor="let editorial of editoriales">
          <td class="goldClass">{{ editorial.idEditorial }}</td>
          <td>{{ editorial.nombreEditorial }}</td>
          <td>{{ editorial.fundador }}</td>
          <td>{{ editorial.fechaFundacion | date: "mediumDate":"":"es" }}</td>
          <td>{{ editorial.fechaCreacion | date: "mediumDate":"":"es" }}</td>
          <ng-container *ngIf="editorial.estado; else elseTemplate">
            <td>En funcionamiento</td>
          </ng-container>
          <ng-template #elseTemplate>
            <td>Cerrado</td>
          </ng-template>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button
              type="button"
              name="button"
              [routerLink]="['/editoriales/form', editorial.idEditorial]"
              class="btn btn-outline-success"
            >
              <i class="fa fa-edit"></i>
            </button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button
              type="button"
              name="Eliminar"
              (click)="eliminarEditorial(editorial)"
              class="btn btn-outline-danger"
            >
              <i class="fa fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
