<h2 class="text-center m-5 text-white text-capitalize">Mis alquileres</h2>

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="alquileres?.length <= 0" class="text-center">
  <h3 class="text-white ">Todavia no has hecho ningún alquiler, mira nuestra lista de libros <a routerLink="/libros/mostrar" class="goldClass">aqui</a></h3>
</div>

<div class="card-columns m-5 animated fadeIn" *ngIf="!loading">
  
  <div *ngFor="let alquiler of alquileres" class="card">
    <img
      [src]="alquiler.libro.portada"
      class="card-img-top"
      alt="{{ alquiler.libro.nombreLibro }}"
    />
    <div class="card-body">
      <h2 class="card-title text-center">
        {{ alquiler.libro.nombreLibro }}
      </h2>
      <ng-container *ngIf="alquiler.estado; else elseTemplate">
        <p>Estado: Activo</p>
      </ng-container>
      <ng-template #elseTemplate>
        <p>Estado: Devuelto</p>
      </ng-template>
      <ul>
        <li>
          <span class="font-weight">Fecha de registro:</span>
          {{ alquiler.fechaCreacion | date: "mediumDate":"":"es" }}
        </li>
        <li>
          <span class="font-weight">Fecha de devolucion:</span>
          {{ alquiler.fechaRetorno | date: "mediumDate":"":"es" }}
        </li>
      </ul>
    </div>
  </div>
</div>
