<div class="row">
    <div class="col m-5">
        <input #termino type="text" (keyup.enter) = "buscar(termino.value)" class="form-control" placeholder="Buscar autor">
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<div class="card-columns m-5 animated fadeIn">
    <div *ngFor="let autor of autores" class="card">
      <img
        [src]="autor.urlFoto"
        class="card-img-top"
        alt="{{ autor.nombreAutor }}"
      />
      <div class="card-body">
        <h2 class="card-title text-center">
          {{ autor.nombreAutor }} {{ autor.apellido }}
        </h2>
        <p> {{ autor.biografia }} </p>
        <ul>
          <li><span class="font-weight-bold">Fecha de nacimiento:</span> {{ autor.fechaNacimiento | date: "mediumDate":"":"es" }}</li>
        </ul>
      </div>
    </div>
  </div>
