<ul class="alert alert-danger m-5" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>
<div class="card bg-dark text-white m-5">
  <div class="card-header">
    {{ title }}
  </div>
  <div class="card-body">
    <form [formGroup]="formIdioma" (ngSubmit)="registrarIdioma()">
      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="nombreCategoria" class="col-form-label col-sm-2"
          >Nombre</mat-label>
        <div class="col-sm-6">
          <input matInput
            type="text"
            formControlName="nombreIdioma"
            name="nombreIdioma"
            placeholder="Nombre"
            onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="ml-3 row">
        <div class="col-sm-6">
          <button mat-raised-button
            color="primary"
            role="button"
            *ngIf="!idioma.idIdioma; else elseBlock"
            [disabled]="formIdioma.invalid"
          >
            Registrar
          </button>
          <ng-template #elseBlock>
            <button mat-raised-button
              color="primary"
              role="button"
              (click)="actualizarIdioma()"
              [disabled]="formIdioma.invalid"
            >
              Actualizar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>

<hr />
<pre class="text-white">
  Estado del formulario: {{ formIdioma.valid }}
  <br>
  Status: {{ formIdioma.status }}
  <pre class="text-white">
    {{ formIdioma.value | json}}
  </pre>
</pre>
