<app-loading *ngIf="cargandoAlquiler" class="m-5"></app-loading>
<div class="row animated fadeIn" *ngIf="!cargandoAlquiler">
  <div class="card border-primary mb-3 m-5 animated fadeIn">
    <div class="card-header bg-form goldClass">Listado de alquileres</div>
    <div class="card-body bg-dark text-primary">
      <h5 class="card-title text-white">
        Cantidad de alquileres: {{ totalElements }}
      </h5>
      <div class="my-2 text-left">
        <button
          class="btn btn-rounded btn-primary"
          [routerLink]="['/alquileres/form']"
        >
          Añadir alquiler
        </button>
      </div>
      <div *ngIf="alquileres?.length == 0">
        <p>No hay registros en la base de datos</p>
      </div>
      <table
        class="table table-bordered table-striped table-responsive"
        *ngIf="alquileres?.length > 0"
      >
        <thead class="text-white">
          <tr>
            <th class="goldClass">Id</th>
            <th class="goldClass">Fecha de creacion</th>
            <th class="goldClass">Fecha de retorno</th>
            <th class="goldClass">Estado</th>
            <th class="goldClass">Usuario</th>
            <th class="goldClass">Libro</th>
            <th class="goldClass">Detalle Alquiler</th>
            <th class="goldClass">Cancelar</th>
            <th class="goldClass" *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
          </tr>
        </thead>
        <tbody class="text-white">
          <tr *ngFor="let alquiler of alquileres">
            <td class="goldClass">{{ alquiler.idAlquiler }}</td>
            <td>{{ alquiler.fechaCreacion | date: "mediumDate":"":"es" }}</td>
            <td>{{ alquiler.fechaRetorno | date: "mediumDate":"":"es" }}</td>
            <ng-container *ngIf="alquiler.estado; else elseTemplate">
              <td>Activo</td>
            </ng-container>
            <ng-template #elseTemplate>
              <td>Devuelto</td>
            </ng-template>
            <td>
              {{ alquiler.usuario.nombre }} {{ alquiler.usuario.apellido }}
            </td>
            <td>{{ alquiler.libro.nombreLibro }}</td>
            <ng-container *ngIf="alquiler.detalleAlquiler; else elseDetalleAlquiler">
              <td>{{ alquiler.detalleAlquiler.total }}</td>
            </ng-container>
            <ng-template #elseDetalleAlquiler>
              <td>Libro gratuito</td>
            </ng-template>
            

            <ng-container *ngIf="alquiler.estado; else elseIf">
              <td>
                <button
                  type="button"
                  name="button"
                  (click)="desactivarAlquiler(alquiler)"
                  class="btn btn-outline-warning"
                >
                  Cancelar
                </button>
              </td>
            </ng-container>
            <ng-template #elseIf>
              <td>
                <button
                  type="button"
                  name="button"
                  (click)="desactivarAlquiler(alquiler)"
                  disabled
                  class="btn btn-outline-warning"
                >
                  Cancelar
                </button>
              </td>
            </ng-template>

            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
              <button
                type="button"
                name="Eliminar"
                (click)="eliminarAlquiler(alquiler)"
                class="btn btn-outline-danger"
              >
                <i class="fa fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- pagination -->
<nav aria-label="Page navigation example" class="animated fadeIn" *ngIf="totalPages?.length > 1 && !cargandoAlquiler">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link bg-dark text-light" aria-label="Previous" (click)="minPages()" *ngIf="this.page > 0">
        <span aria-hidden="true">«</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li *ngFor="let page of totalPages; let i = index" class="page-item">
      <a class="page-link bg-dark text-light" (click)="cambiarPagina(i, $event)">{{ i + 1 }}</a>
    </li>
    <li class="page-item">
      <a class="page-link bg-dark text-light" aria-label="Next" (click)="maxPages()" *ngIf="!isLast">
        <span aria-hidden="true">»</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
<!-- pagination -->

