<ul class="alert alert-danger m-5" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<ul class="alert alert-danger m-5" *ngIf="messageError">
  {{ messageError }}
</ul>

<div class="card bg-dark text-white m-5">
  <div class="card-header">
    {{ title }}
  </div>

  <div class="card-body text-primary">
    <h5 class="card-title text-white">Cantidad de libros: {{ cantidad }}</h5>
    <form [formGroup]="formEditorial" (ngSubmit)="registrarEditorial()">
      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="nombreCategoria" class="col-form-label col-sm-2"
          >Nombre</mat-label
        >
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="nombreEditorial"
            name="nombreEditorial"
            placeholder="Nombre"
            onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50">
        <mat-label for="fundador" class="col-form-label col-sm-2">Fundador</mat-label>
        <div class="col w-100">
          <input matInput
            type="text"
            formControlName="fundador"
            name="fundador"
            placeholder="Fundador"
            onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)"
          />
        </div>
      </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="ml-5 w-50" appearance="fill">
        <mat-label for="fechaFundacion" class="col-form-label col-sm-2"
          >Fecha de fundación</mat-label
        >
        <div class="col w-100">
          <input matInput
            [matDatepicker]="picker"
            formControlName="fechaFundacion"
            name="fechaFundacion"
          />
        </div>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>

      <div class="ml-3 row">
        <div class="col w-100">
          <button mat-raised-button
            color="primary"
            role="button"
            *ngIf="!editorial.idEditorial; else elseBlock"
            [disabled]="formEditorial.invalid"
          >
            Registrar
          </button>
          <ng-template #elseBlock>
            <button mat-raised-button
              color="primary"
              (click)="actualizarEditorial()"
              role="button"
              [disabled]="formEditorial.invalid"
            >
              Actualizar
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
