<app-loading *ngIf="cargandoIdioma" class="m-5"></app-loading>
<div class="row animated fadeIn" *ngIf="!cargandoIdioma">
  <div class="card border-primary mb-3 m-5 animated fadeIn">
    <div class="card-header bg-form goldClass">Listado de idiomas</div>
    <div class="card-body bg-dark text-primary w-100">
      <h5 class="card-title text-white">Cantidad de idiomas: {{ idiomas?.length }}</h5>
      <div class="my-2 text-left">
        <button
          class="btn btn-rounded btn-primary"
          [routerLink]="['/idiomas/form']"
        >
          Añadir idioma
        </button>
      </div>
      <div *ngIf="idiomas?.length == 0">
        <p>No hay registros en la base de datos</p>
      </div>
      <table
        class="table table-bordered table-striped table-responsive"
        *ngIf="idiomas?.length > 0"
      >
        <thead class="text-white">
          <tr>
            <th class="goldClass">Id</th>
            <th class="goldClass" style="width: 800px;">Idioma</th>
            <th class="goldClass" style="width: 100px;">Cancelar</th>
            <th class="goldClass" style="width: 100px;" *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
          </tr>
        </thead>
        <tbody class="text-white">
          <tr *ngFor="let idioma of idiomas">
            <td class="goldClass">{{ idioma.idIdioma }}</td>
            <td>{{ idioma.nombreIdioma }}</td>
            <td>
              <button
                type="button"
                name="button"
                [routerLink]="['/idiomas/form', idioma.idIdioma]"
                class="btn btn-outline-success"
              >
              <i class="fa fa-edit"></i>
              </button>
            </td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
              <button
                type="button"
                name="Eliminar"
                (click)="eliminarIdioma(idioma)"
                class="btn btn-outline-danger"
              >
              <i class="fa fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
